video_original
video_frames

venv
venv2
tfe
faceNet
output
reluu_gui/PySide2
reluu_gui/shiboken2

img_test
jaffedbase
checkpoint
KDEF_and_AKDEF
ffhq_data
face_test
production_test
train_models_tensorflow/log_dir
place_holder.jpg
background.png
tflite_model
origin
build
dist
*.exe
*.spec
parse_dataset_labels/parse_sound_files/tess_ravdess_train.json
parse_dataset_labels/parse_sound_files/tess_ravdess_validation.json
parse_dataset_labels/parse_sound_files/tess_ravdess_test.json
parse_dataset_labels/parse_sound_files/tess_ravdess_train_norm.json
parse_dataset_labels/parse_sound_files/tess_ravdess_validation_norm.json
parse_dataset_labels/parse_sound_files/tess_ravdess_test_norm.json
databases
labeled_data
faceReader
utility_functions/shape_predictor_68_face_landmarks.dat
keep_output
CMU_MOSEI
CMU-MultimodalSDK-master

FERG_DB_256
emotion_model.model
emotion_model_generated_faces.model
emotion_model_v1.0_realfaces.model
emotion_model_v1.0_3cnn_2dns_input64x64.model
fer2013.csv
affectNet_Images
TESS_and_RAVDESS
ISAFE MAIN DATABASE FOR PUBLIC
ISAFE_removed_bad_images
RAF_database
Kaggle_audio_dataset
SAVEE_database
emotions
emotions_5
emotions_5_sound
emotions_5_sound_test
emotions_5_test
emotions_copy_test_dir
